[2019-03-13 20:03] Ceda-EI opened #4 "Handle Ctrl-D (EOF) in metacallcli"
## Expected Behavior
Pressing `Ctrl-D` exits from metacallcli

## Actual Behavior
Pressing `Ctrl-D` causes metacallcli to infinitely print `>`

[2019-03-14 19:30] #4 closed

[2019-05-16 15:18] viferga opened #9 "Python Monkey Patching"
The idea is to simplify the API of MetaCall in order to make it natural for high level languages. So if we have a NodeJS module like:
`asd.js`
[code]

We should be able to import it from Python like this (if the script is being executed by metacallcli):
[code]

Or like this (if the script is being executed by python interpreter):
[code]

To achieve this, we must implement the monkey patch mechanis

[2019-05-19 23:41] lostjared opened #10 "Segmentation Fault"
acidcam: input[/home/jared/Videos/freddy.mov] output[fredtest.mov] width[592] height[448]  fps[29.92] length[37.03 seconds] format[MPEG-4 (Quicktime)]

Filters to Apply:
Plugin
acidcam: Working frame: [0/1108] - 0% Size: 0 MB

Thread 1 "acidcam" received signal SIGSEGV, Segmentation fault.
0x00007fffcd3a1bcf in PyErr_SetObject () from /usr/lib/x86_64-linux-gnu/libpython3.6m.so.1.0
(gdb) backtrace

[2019-05-22 14:23] viferga commented on #10
Solved with fd21352.

[2019-05-22 14:23] #10 closed

[2019-06-03 23:02] viferga opened #13 "Travis stops the task after 50 minutes"
Travis fails after 50 minutes building because it only has one tasks (build all docker images) and it takes too long for the travis limits (https://docs.travis-ci.com/user/customizing-the-build/#build-timeouts).

This needs to be solved in order to allow proper builds (https://github.com/metacall/core/blob/develop/.travis.yml).

There are two possible solutions (maybe more):

1) Split all tasks in

[2019-06-03 23:23] viferga opened #14 "Python port package publish integrated with Travis."
Reference: https://github.com/metacall/core/pull/8#issuecomment-498457578
Needs to be solved first: https://github.com/metacall/core/issues/13

[2019-06-03 23:31] viferga opened #15 "Python port install scripts"
There is a need to simplify install scripts or document them in the python port readme. The ideal would be to integrate metacall-{install, update, uninstall} with pip {install, uninstall}, but not sure if this is properly supported by pip or setuptools.

Reference: https://github.com/metacall/core/pull/8
Depends on:
- MetaCall cross-platform install script (https://github.com/metacall/install/blob

[2019-07-06 14:01] metaperl opened #18 "List related prior work?"
Would it be of use to list related prior art in multiple computer language programming? My M.S. thesis involved that - http://ftp.sunet.se/mirror/archive/ftp.sunet.se/pub/lang/compilers-list/Chameleon.ps.z

[2019-07-09 14:25] viferga commented on #18
Hello. It is very interesting, you did something similar to MetaCall but for Lisp, SmallTalk and Tcl. What do you mean by "multiple computer language programming"? I think any information related to previous work to MetaCall will be interesting, but can you specify what do you would add exactly?

[2019-07-25 13:55] viferga opened #20 "Ruby Loader Thread Safety"
After testing with NodeJS Port it seems that Ruby loader does not work properly, it needs to be thread safe. There are some workarounds to make it run. All of the have been commented in rb_loader_impl.c file.

A new branch has been created for it: https://github.com/metacall/core/tree/hotfix/ruby-loader-thread-safe

[2019-08-22 03:02] viferga opened #24 "Netcore dependecy managament"
For Netcore 1.x (and maybe 2.x) it is possible to properly handle dependencies (not sure if it is involved with the current fail when loading.

Current error:
`The type 'Console' exists in both 'System.Console, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' and 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'`

[code]

[2019-08-28 00:37] lufinkey opened #25 "Include directory"
It's unclear what directory I need to include to utilize this library from C/C++. In the `build` folder, there's a `source` folder with many subfolders with `include` directories. Do I need to include all of those? Just for context, I'm working in Xcode trying to build this for iOS/macOS.

Side note if I can get this library to work for what I need I'd really love to donate to you. This library is

[2019-08-28 00:50] lufinkey commented on #25
I have this set up as a submodule and would rather not have my build script
install folders to root directories. Is there a way I can set an install
prefix manually?

On Tue, Aug 27, 2019, 8:47 PM Vicente Eduardo Ferrer Garcia <
notifications@github.com> wrote:

[2019-08-28 02:30] #25 closed, assigned to nobody

[2019-08-28 02:30] lufinkey opened #26 "iOS and Android support"
iOS and Android supported can be added using the [NodeJS-mobile library](https://github.com/JaneaSystems/nodejs-mobile)

[2019-08-30 02:53] viferga commented on #24
Solved with: https://github.com/metacall/core/commit/dba6de5f1665b7ccb9b3feea84d618aa5ba63a1c

And additional test bug solved too: https://github.com/metacall/core/commit/b64393fe388966ddfe5009def5503c7fa2407227

[2019-08-30 02:53] #24 closed

[2019-08-30 11:24] viferga opened #28 "Implement Function support for callbacks"
[code]

[2019-09-11 22:42] viferga commented on #13
Mitigated with https://github.com/metacall/core/commit/ceb26a23e931fb5cae679b68952bc62b4ec6c61d

[2019-09-11 22:42] #13 closed

[2019-09-15 18:43] fervagar opened #30 "Use GNU Readline for the metacall-cli shell"
Hello,

Current CLI shell doesn't support basic features like history, line editing, completion, etc. It can be easily achieved using the GNU Readline library.

I have attached to this issue an example of a tiny shell using it. Please, consider this as just an example, since it can contain memory leaks and vulnerabilities (e.g., user input is not properly checked).

Thank you.

[readline_shell_tem

[2019-09-16 19:41] viferga opened #31 "OpenSSL incompatibility"
When running a NodeJS script with NodeJS (compiled with OpenSSL statically) and then loading any library in Python that uses Py__Hash (which is a C extension for Python using OpenSSL dynamically linked) it generates a segmentation fault (this problem can be reproduced by running this example with NodeJS: https://github.com/metacall/pdf-generator-email-sender-landing-page-example).

In this example

[2019-12-31 09:35] viferga commented on #15
Solved by:
https://github.com/metacall/install
and
https://github.com/metacall/distributable

[2019-12-31 09:35] #15 closed

[2019-12-31 10:06] viferga opened #36 "Implement Haskell Loader"
Haskell has a compiler generation tool that provides the stubs in C language to Haskell (https://wiki.haskell.org/Calling_Haskell_from_C). Due to this design, the loader must be implemented mostly with Haskell. The load from file, memory, introspection, the FFI dynamic calls, and others must be implemented in Haskell side.

For conversion types, Haskell must return a structure containing the raw p

[2020-02-26 00:23] viferga opened #38 "Implement Crystal Loader"
This is a Proof of Concept for [Crystal Loader](https://github.com/metacall/core/tree/develop/source/loaders/cr_loader). The idea is to allow it to be fully implemented in Crystal lang, with a minimal C wrapper: [crystal_lib.zip](https://github.com/metacall/core/files/4252719/crystal_lib.zip). It is based on this repository: https://github.com/ysbaddaden/crystal_library (with minimal modifications

[2020-02-26 00:41] watzon commented on #38
https://github.com/olbat/libgen/ has a bit simpler interface for generating bindings. It uses `crystal_lib` on the back end. Doesn't always work, but it does most of the time.

[2020-03-09 13:57] viferga commented on #28
Done (or at least in core and python).
https://github.com/metacall/core/commit/8c77951c0089505a8a628f6b2789c0f5f4dbcf4f
https://github.com/metacall/core/commit/8a2fe2cd70f4191b67d39b783604dc962658cabf
https://github.com/metacall/core/commit/ca89fc8b4cfce1a95202f9d99e2d9d6c81a51a00

[2020-03-09 13:57] #28 closed

[2020-03-25 22:45] viferga opened #40 "Python Async/Await"
https://stackoverflow.com/a/51115745

[2020-04-03 22:36] alberto98fx opened #41 "Docker Backend Multi Arch"
It would be pretty awesome to have docker as a backend with exported Bash commands that gets ```pwd``` as variable and mount some core paths to guest to persist even when a new version is released.

I.g

```metacall pip3 install x```

Pip folder with installed modules should be available on guest in a path such as

```/opt/metacall/pip```

and mounted via Docker run to the container.

[2020-04-05 00:22] viferga commented on #41
The fallback install script to Docker has been implemented.

Shared volumes for Python and Logs are still not implemented, but **it needs testing**.

This is the new repo for providing a CLI image for the fallback:
https://github.com/metacall/cli

And here's the Docker Hub image:
https://hub.docker.com/repository/docker/metacall/cli

Now when trying to install in MacOs (not currently supported), i

[2020-04-21 21:25] viferga commented on #31
Seems to be solved with current [distributable](https://github.com/metacall/distributable) implementation but needs revision.

[2020-05-01 20:48] swarnimarun opened #42 "MVP Rust port for Metacall"
This issue is to list out things that may or may not have been completed in order to get rs-port working.

- [ ] Add the cargo based rs-port project. `// TODO: Will PR it when I can get cmake build working`
- [ ] Use [cmakeRust](https://github.com/Devolutions/CMakeRust)(might need some modifications) for the cmake build system integration.
- [ ] Setup cmake for the Rust project.

At the moment I h

[2020-05-03 20:21] viferga commented on #42
I will try to add a placeholder for your project, and merge it into master.

[2020-05-26 20:07] viferga opened #44 "Implement thread safe calls for NodeJS"
Implement this technique: https://github.com/metacall/core/commit/bed13df08d982b60f1877cc0a95f6796c1a60be1 for the rest of NodeJS calls (including await) and drop support for NodeJS 8.

[2020-08-04 00:44] viferga commented on #44
Solved: https://github.com/metacall/core/commit/bd667a945c7e70281ec9c5bf01967b78e404a30c

[2020-08-04 00:44] #44 closed

[2020-08-05 11:23] viferga opened #49 "Implement Dart Loader"
For implementing this loader, there is good support, so probably we can do it easily. Normally loaders can be fully implemented in C, but sometimes we can implement the loader in the target language itself with a small wrapper in C. This is useful where there isn't embedding API or if you want to do it in a simpler and faster way.

I have used the mock loader as a base for the dart loader, it prov

[2020-08-19 12:52] viferga opened #50 "Implement PHP Port"
I have created a placeholder for implementing PHP7 port with Swig: https://github.com/metacall/core/tree/develop/source/ports/php_port

We need to implement the following requirements:

- [ ] FindPHP7.cmake: A cmake script located in `cmake` folder in order to find PHP7 (I can do this).
- [ ] Interface implementing the functionality for calls, load, etc..: https://github.com/metacall/core/blob/dev

[2020-08-19 14:35] viferga commented on #50
It seems composer.json has to be in the root path, probably we should move this outside and use FFI instead. It will be easier to implement and it will be decoupled from the build system.

[2020-08-20 11:16] viferga commented on #50
https://github.com/metacall/php-port/issues/1

[2020-08-20 11:16] #50 closed

[2020-09-22 20:02] viferga opened #52 "DockerHub Hooks fail with C# NetCore (SSL Connection Error)"
When trying to build the C# Loader, this happens:

This has happened before to me. It basically happens when you lose the connection to Internet, but I do not discard it can happen also because of some lack of certificates, or whatever random reason.

All tests with C# Loader involved fail. This results into:

[2020-10-28 10:50] viferga opened #54 "Unify the rest of Loaders and Ports if possible"
Delete Swig dependency as soon as possible. List of Loaders and Ports which can be unified:

- [ ] Ruby Loader
- [ ] C# Loader
- [ ] JS (V8) Loader

Also implement the gem / nuget packages. But this is another task.

[2020-10-28 10:54] viferga opened #55 "Ruby Loader segmentation fault related to Node Port test"
Related to this commit: https://github.com/metacall/core/commit/3fb57a86d334a4b15b9c249594d3d9165f2abb81#diff-fe9caa8952071583fbfe3ea54361f8843196e62d4eeb269125b5f70494caca2fL842

I have avoided a segmentation fault when executing metacall_destroy in the Node Port test. This should be reviewed. Probably it is a double free or something like that. I prefer to leave it as a memory leak on destroy ra

[2020-11-05 08:46] viferga opened #56 "Improve rs_port with all of the feedback from rustaceans"
Add docs.rs and documentation. Documentation examples: https://doc.rust-lang.org/stable/rust-by-example/meta/doc.html

Feedback of @In-line and @snejugal from [t.me/rustdevs](https://t.me/rustdevs):

[2020-11-05 10:52] In-line opened #57 "rs_port is unsound."
Rust interface is marked as safe, while underlying `core` implementation isn't thread safe.

This is unsound.

[2020-11-05 14:02] lights0123 commented on #56
I'd add:

should Metacall's `char` really be a Rust `char`? I think it would be better suited as a Rust `u8`, as a Rust `char` is any valid Unicode codepoint, not just a value 0-255.

[2020-11-05 18:47] In-line commented on #56
@light0123 C `char` can be two bytes too

[2020-11-05 18:52] lights0123 commented on #56
@In-line whatever it is, the Rust port casts it to a `u8` anyways before converting it to a Rust `char`. And a `char` is required to be the ["Smallest addressable unit of the machine that can contain basic character set"](https://en.wikipedia.org/wiki/C_data_types#Main_types), so unless you're talking about some weird ISA that isn't byte-addressable, no. You can be like Windows and try to push the

[2020-11-05 19:30] viferga commented on #56
@lights0123 you are right, it should be `u8`.

[2020-11-07 19:44] swarnimarun commented on #56
Alright, I went and did some digging, so will put the details of my findings here,

Short Term
---
1. Char in Rust is not c_char compatible, this should be altered, in some form. (We can cast c_char to Rust char but casting Rust char to c_char is lossy)... I am open to ideas, might have to write a custom wrapper type to interface between safe Rust and c_char.

2. The code at, https://github.com/me

[2020-11-07 21:08] lights0123 commented on #56
If you're OK with a full change, why not just copy the way Rust does types: u8 (`char`, although some ISAs use signed), i16 (`int16_t`), i32 (`int32_t`), i64 (`int64_t`), and usize (`size_t`)? A language that isn't C or C++ doesn't care what the ISA and OS designers chose to be the C standard types, and many newly designed C libraries are only using exact-sized types anyways. If I'm writing someth

[2020-11-08 09:30] swarnimarun commented on #56
Not a bad idea, personally in most of my own projects I just use fixed size types as well because how easier they make handling types, cross-platform. But that's up to @viferga, here.

[2020-11-08 12:21] viferga commented on #56
My first idea was to implement fixed types in the whole interface, but once I started to implement different loaders I realized that they do not use fixed types. For example, Ruby ( https://silverhammermba.github.io/emberb/c ):

Or Python ( https://docs.python.org/3/c-api/long.html ):

In the other hand, later on I implemented V8 and NodeJS loaders, and they use fixed types:
- V8 API: https://v8do

[2020-11-08 18:07] swarnimarun commented on #56
I would say using fixed types is better as in the worst case we only have to write shims for matching to the specified types from other languages.
While using standard/default types can be problematic as it can have multiple layers of conversion requirements.

Imagine sending a long from a Windows metacall instance to Linux instance...
Having the base as fixed sizes at least makes sure we won't ha

[2020-11-09 18:41] viferga commented on #56
If you send this via network there are much more problems than fixed size of the types. For example endianess. And because of that, there is a serialization plugin based system that allows to implement your own serialization protocol for MetaCall values, including all the introspection capabilitites.

You have the plugins here: https://github.com/metacall/core/tree/develop/source/serials

MetaCall

[2020-11-10 20:05] viferga opened #60 "RPM artifact build failing in Travis-CI"
https://travis-ci.org/github/metacall/core/jobs/741857383#L408

[2020-11-20 09:26] viferga commented on #18
Re-uploading it, just in case.

[Chameleon.ps.zip](https://github.com/metacall/core/files/5572546/Chameleon.ps.zip)

[2020-12-02 11:42] giarve opened #61 "Ruby C API error handling"
Currently class static method calls and object method calls are not properly handling errors.
If there's an uncaught exception in Ruby, the program will terminate (segfault).

See issue #53

To solve this, rb_protect must be used:
https://silverhammermba.github.io/emberb/c/#rb_protect

[2020-12-15 13:00] viferga opened #62 "Update Travis CI tasks to Gitlab"
Travis CI is shutting down so we should update this https://github.com/metacall/core/blob/develop/.travis.yml to here:
https://github.com/metacall/core/blob/develop/.gitlab-ci.yml

[2020-12-15 23:40] viferga opened #63 "Map imports and advanced imports like Deno for MetaCall"
Recently @trgwii suggested the following addition for `metacall.json`:
[code]
And then do in Python (or any other language):
[code]

An extension to the previous mechanism may be the following:
[code]
Python is the language that would need import maps in order to implement this kind of imports. Other languages like Ruby or NodeJS may allow to do this easily like:
[code]
[code]

[2020-12-16 11:11] trgwii commented on #63
I'd also like to add that import maps have their own issues, so they should only be used on an as-needed basis (if there is no other way to make a module work within a language that doesn't support string-based imports).

Ideas for resolutions:

* `"ramda": "npm:ramda"` - loads / installs the module from npm (`npm install` or similar), and uses normal node module resolution (look for index.js / pa

[2020-12-30 01:58] viferga opened #65 "Duplicated symbols generate a segmentation fault"
This is the test that reproduces the bug:
https://github.com/metacall/core/blob/627454ecae552918d2dbeee16414c64ceade800a/source/tests/metacall_duplicated_symbols_test/source/metacall_duplicated_symbols_test.cpp

[2020-12-30 02:01] viferga opened #66 "Destroying the Ruby Loader generates segmentation fault when loading classes or objects"
This is the line that shows the segmentation fault:
https://github.com/metacall/core/blob/627454ecae552918d2dbeee16414c64ceade800a/source/loaders/rb_loader/source/rb_loader_impl.c#L1237

Uncommenting it avoids the segmentation fault but probably generates leaks, because the handles (modules) are never cleared.

This is the test that generates the segmentation fault:
https://github.com/metacall/cor

[2021-02-22 23:36] Tabzz98 opened #74 "Async function introspection"
It would be very useful if there's a function in the C API that returns whether a loaded function is `async` or not.

[2021-02-22 23:46] Tabzz98 opened #75 "Awaiting future values"
It would be helpful to have a function such as `metacall_await_future` in the C API for awaiting future values.

This can lift the need for introspecting loaded functions to know if they're `async`. `metacallv_s` (or other calling functions) could return a future value (with `metacall_value_id` 12) which could then be converted to the calling language's future type using `metacall_await_future`. N

[2021-02-23 18:07] viferga commented on #74
Done: https://github.com/metacall/core/commit/1cd9b78df45b9c2cacfc9ee4ca6403f253209174

[2021-02-23 18:07] #74 closed

[2021-02-23 18:09] viferga commented on #9
I think this is solved, https://github.com/metacall/ramda-python-example/blob/main/index.py
Further improvements will be related to local scoping and better introspection using metacall_export instead of metacall_inspect. But this is another issue.

[2021-02-23 18:09] #9 closed

[2021-02-23 18:12] #62 closed

[2021-02-23 18:13] viferga commented on #52
This seems to happen due to bad internet connection. I think it can be closed.

[2021-02-23 18:13] #52 closed

[2021-02-26 23:14] viferga commented on #75
https://github.com/metacall/core/commit/a3b29308e30f539fcaf2068a8ca001bba8beea47
https://github.com/metacall/core/commit/44a43d63b73fc2c306e723cacbd81e31a777a397
Done.

[2021-02-26 23:14] #75 closed

[2021-03-10 12:10] krush11 opened #77 "documentation changes"
- [metacall/core](https://github.com/metacall/core) has Travis-ci integrated. There could be a badge added to README.md
- [.github/ISSUE_TEMPLATE](https://github.com/metacall/core/blob/develop/.github/ISSUE_TEMPLATE.md) and [.github/PULL_REQUEST_TEMPLATE](https://github.com/metacall/core/blob/develop/.github/PULL_REQUEST_TEMPLATE.md) are blank and need to be set

@giarve please check if these chan

[2021-03-10 13:19] viferga commented on #77
We already have badges (although they are outdated), you can create a new PR and add those badges there:
https://github.com/metacall/core/tree/develop/docs#7-platform-support

Take into account that we have three pipelines right now:
![2021-03-10-071332_1920x1017_scrot](https://user-images.githubusercontent.com/7854099/110635106-59eda980-8170-11eb-9c1b-d3821093b3e2.png)

- Docker is the builds for

[2021-03-12 06:19] #77 closed

[2021-03-13 14:09] omar-3 opened #81 "Error when building on OS X"
I went through building steps [here](https://github.com/metacall/core/blob/develop/docs/README.md#6-build-system) and I got this error and can't find solution.

[code]

[2021-03-15 21:37] akshgpt7 opened #84 "Plugin Support for MetaCall CLI"
The idea is to fire up a [Node REPL](https://nodejs.org/api/repl.html) when the CLI is initiated.
The REPL will parse commands and arguments and match them with a list of available commands (plugins), that will be stored in individual files (possibly with the same name as the function they contain).

[2021-03-15 21:39] akshgpt7 commented on #84
A few node packages to consider using for parsing arguments:
- https://github.com/sindresorhus/meow
- https://github.com/yargs/yargs
- https://github.com/tj/commander.js

[2021-03-16 11:58] viferga commented on #84
This is an issue related to: https://github.com/metacall/core/issues/30

This is a bigger issue which is the following: https://github.com/metacall/gsoc-2021#cli-plugin-support

The REPL and parsing of arguments can be implemented in any language, it does not matter. The only problem is that NPM packages are specially difficult to package in Guix, which is what we are using to generate the distrib

[2021-03-16 12:06] viferga commented on #84
Related to the implementation, an option can be to refactor the current implementation by probably using ( https://en.cppreference.com/w/cpp/filesystem ) to list the folder and then load all the scripts. If the REPL loop itself is implemented in another language different from C++, then we will need to call back to C in order to provide the command information.

Another option can be to fully impl

[2021-03-16 12:20] viferga commented on #81
This bug has been reported on OS X 11.2.1.

[2021-03-16 12:29] viferga commented on #81
And apparently, although it is a non portable function, it is available at that version:
http://www.manpagez.com/man/3/pthread_threadid_np/
`Mac OS X 10.12.3 - Generated Wed Feb 8 16:42:23 CST 2017`

[2021-03-16 12:36] samarthpusalkar opened #88 "Unable to compile source with cmake"
When trying to compile with the latest version of cmake (3.20.0) it gives the following errors and warnings:

CMake Error at CMakeLists.txt:31 (string):
  string no output variable specified

CMake Warning (dev) at CMakeLists.txt:81 (add_definitions):
  Policy CMP0005 is not set: Preprocessor definition values are now escaped
  automatically.  Run "cmake --help-policy CMP0005" for policy details.

[2021-03-16 12:48] viferga commented on #88
Are you doing this from command line or with CMake GUI? How are you setting the paths?
![2021-03-16-134533_1920x1080_scrot](https://user-images.githubusercontent.com/7854099/111311191-e8a86d80-862b-11eb-8c3b-b0b9c597b4b3.png)

I have the project root in `E:/` it is a shared folder.

[2021-03-16 12:51] samarthpusalkar commented on #88
I tried with both GUI and command line
source                         C:/Users/sampu/Documents/core/source
build the binaries        C:/Users/sampu/Documents/metacall

[2021-03-16 12:53] viferga commented on #88
The source path is this: `C:/Users/sampu/Documents/core/`
And the binaries must go in some place like: `C:/Users/sampu/Documents/core/build`
I think you have to create the second folder before running CMake.

[2021-03-16 12:53] viferga commented on #88
Tell me if this solves your problem, so I can close the issue.

[2021-03-16 12:56] viferga commented on #81
I don't have OS X to test, so can you try to comment this lines and try to build again?
https://github.com/metacall/core/blob/develop/source/threading/source/threading_thread_id.c
[code]

[2021-03-16 13:00] samarthpusalkar commented on #88
I was successfully able to compile but it gave the following warnings:

CMake Warning (dev) at CMakeLists.txt:35 (include):
  Policy CMP0120 is not set: The WriteCompilerDetectionHeader module is
  removed.  Run "cmake --help-policy CMP0120" for policy details.  Use the
  cmake_policy command to set the policy and suppress this warning.

This warning is for project developers.  Use -Wno-dev to sup

[2021-03-16 13:00] #88 closed

[2021-03-16 13:02] HarshCasper opened #89 "Add Issue + PR Templates"
## Description

As discussed with @josead we would be adding some Issues + PR templates for making the Contribution Workflow better.

cc: @viferga

[2021-03-16 13:44] samarthpusalkar opened #90 "Errors in building metacall with visual studio"
It showed some errors when I tried to build the visual studio project file made with cmake.
![Capture__](https://user-images.githubusercontent.com/68862617/111319219-c34b4c00-868b-11eb-82cc-51b0399d5237.PNG)

[2021-03-16 14:25] Siddhant-K-code commented on #90
The optimization setting Maximize Speed (/O2) is incompatible to the Basic Runtime Checks setting of Code Generation.

To change the settings for Basic Runtime Checks:

Solution -> Properties -> Configuration Properties -> C/C++ -> Code Generation -> Basic Runtime Checks

Set it to "Default", and it should work.

![image](https://user-images.githubusercontent.com/55068936/111325225-7e2a1880-8691-1

[2021-03-16 14:26] Siddhant-K-code commented on #89
@HarshCasper will you gonna work upon it? or I can work on this issue :)

[2021-03-16 15:15] viferga commented on #90
@samarthpusalkar By default metacall is configured as `CMAKE_BUILD_TYPE` as Release. This means you can only build as Release, although Visual Studio lets you to build in Debug or Release no matter what you configured in CMake.

To get rid of this bug select `Release` in the IDE and it will build properly.

[2021-03-16 15:15] #90 closed

[2021-03-16 15:38] samarthpusalkar opened #93 "Errors in building solution in Visual Studio"
When building solution in release mode I get the following errors:
![Capture_1](https://user-images.githubusercontent.com/68862617/111337001-b7678600-869b-11eb-96f5-550d742cc895.PNG)

[2021-03-16 19:35] akshgpt7 commented on #84
`argparse` and the prompt-toolkit would surely work well together.

As for the implementation, I was thinking more of bootstrapping it from the C++ `run()` function.
(idk, it just seems more intuitive to me than making calls everytime to the C++ part to verify a command from the list of files)
This would also mean porting some existing commands to Python (or we can call their C++ implementation th

[2021-03-16 19:37] Encrylize opened #94 "Refactor Python loader code"
I am currently reading through the code for the Python loader and have found a few recurring patterns that I believe could be improved:

1. A lot of the error handling cleanup code is quite repetitive and the current structure is quite error-prone. This could be improved by using `goto` to localize the cleanup code (see [this link](https://stackoverflow.com/questions/788903/valid-use-of-goto-for-e

[2021-03-17 05:43] HarshCasper commented on #89
@Siddhant-K-code I and @josead are working on the `Getting Started` guidelines for new contributors. Let us know if you wish to contribute as well.

[2021-03-17 06:51] #89 closed

[2021-03-17 06:59] viferga commented on #94
Respect to the second point, I have used C89 mostly because I was wondering MetaCall may work with cases like COBOL migrations. For very old computers, maybe this standard may be needed. I don't know if this restriction does pay off. I think it is too restrictive and makes the code much more uglier. Most runtime won't work anyway with that kind of old computers so it does not make sense to continu

[2021-03-17 07:06] viferga commented on #84
In that case you can remove more parts of the C++ CLI, but I think it should have still a minimal part written in C/C++ in order to bootstrap the Python client, no? Like 3 lines doing a `metacall_load_from_file` to the REPL (blocking) and a `metacall_destroy`, no?

[2021-03-17 07:09] viferga commented on #93
Can you try to disable detours and fork safety?
`OPTION_BUILD_DETOURS`=`OFF`
`OPTION_FORK_SAFE`=`OFF`

[2021-03-17 07:10] viferga commented on #93
Anyway, I think a windows script for configuring this properly and executing the `msbuild` will be something more interesting, so you can avoid configuring this by hand. All the problems you had were due to configuration.

[2021-03-17 09:31] Encrylize commented on #94
Great! I'll get started on the refactor.

[2021-03-17 12:40] Siddhant-K-code commented on #89
Yes, I can work with the `loaders` and building, testing!!

[2021-03-17 13:51] samarthpusalkar commented on #93
Disabling BUILD_DETOURS and FORK_SAFE worked.

[2021-03-17 13:51] #93 closed

[2021-03-17 16:08] akshgpt7 commented on #84
That's correct. It will still need to have a starting and closing point at the C++ part where it will be initiated with the metacall API.
Also, as I mentioned, maybe we can also use some of the existing commands written in C++ directly.

[2021-03-17 18:14] siv2r opened #97 "Types like function, class, object not mentioned on docs"
## 📚 Documentation

The types `Future`, `Function`, `Class`, `Object` are not mentioned in the documentation of [Type System](https://github.com/metacall/core/tree/develop/docs#521-type-system) under [Reflect](https://github.com/metacall/core/tree/develop/docs#52-reflect).

These are present in the codebase (under reflect module)
https://github.com/metacall/core/blob/52572bc3de960da922a4032df2f6b4

[2021-03-19 19:09] siv2r commented on #97
Sure!! I will do it soon.

[2021-03-20 11:23] viferga opened #98 "Strange "NodeJS Loader Error: Debug Failure." in `metacall-node-port-test`"
## 🐛 Bug Report

This message is shown in the `metacall-node-port-test`, it is generated by an exception of some instruction but it needs more debugging for finding what exact function generates that.

### Expected Behavior

Not to show that message.

### Current Behavior

The tests passes correctly but this message is printed instead. Maybe it's not important but it will be interesting to ensure

[2021-03-21 01:53] omar-3 commented on #81
Yeaa it works now. Thanks!!

[2021-03-21 01:53] #81 closed

[2021-03-22 11:42] siv2r commented on #97
What does `Future` mean?

[2021-03-22 15:09] avinal commented on #30
Hello @viferga, is this issue still relevant, I saw the discussion on #84, it seems the plan is to replace it with a python/node CLI parser, if this is still relevant, I would like to work on the issue. Also for the purpose of the https://github.com/metacall/gsoc-2021#cli-security-through-seccomp-sandboxing project, this will be required, I think so.

[2021-03-22 15:17] avinal commented on #30
Also, I would like to remind you that `readline` is not available for Windows, so we may want to see some alternatives or implement them for Windows ourselves.

[2021-03-25 10:36] viferga commented on #97
Future is a Promise in Node Loader, and any other type equivalent in other languages. It is only implemented in NodeJS at the moment.

[2021-03-25 20:35] viferga commented on #94
@Encrylize Are you going to continue with this or can I close the issue?

[2021-03-25 21:55] Encrylize commented on #94
@viferga Let's just close it for now. :)

[2021-03-25 21:55] #94 closed

[2021-03-25 23:40] siv2r opened #106 "Implementing LLVM loader"
## 🚀 Feature

See the [ideas page](https://github.com/metacall/gsoc-2021#embedding-llvm-llvm-loader) for more information.

**To Do**
The following checklists will become more specific in future
[ ] import llvm libraries
[ ] initialize
[ ] introspect

[2021-03-30 09:36] viferga commented on #106
Linking here the other attempt: https://github.com/metacall/core/pull/109

[2021-03-30 17:40] siv2r commented on #97
Closing the issue since #101 fixes this

[2021-03-30 17:40] #97 closed

[2021-03-31 20:43] yashtazor opened #114 "LLVM Loader PoC"
## 🚀 Feature

This is a probable plan for implementing the LLVM Loader for MetaCall. This is subject to many changes and it is open for suggestions from everyone.

### Proposed Solution
I've planned a two-phase solution.

In the first phase, I wish to develop a PoC with the basic working functionality of what is expected.

- [ ] Fetch the LLVM IR from C/C++ files. These can be emitted in .ll or .b

[2021-03-31 20:58] yashtazor opened #115 "Improve Loaders section and add LLVM Loader section"
## 📚 Documentation

I would want to elaborate a little on the loaders section and add a section on LLVM loaders along with some diagrams. These are not of high priority as of now but just opening the issue so that I don't forget about it.

[2021-04-09 11:53] viferga commented on #65
I have been thinking about this. The behavior now is going to be the following.
When loading like this (line extracted from the duplicated symbols test):
`		EXPECT_EQ((int)0, (int)metacall_load_from_file("rb", rb_ducktype_scripts, sizeof(rb_ducktype_scripts) / sizeof(rb_ducktype_scripts[0]), NULL));
`
The symbols will get populated into the global scope. So if you load a duplicated symbol, the def

[2021-04-13 16:01] jfblomgren opened #118 "metacall-node-port-test hangs with Node 15.x"
## 🐛 Bug Report

When running `metacall-node-port-test` with Node 15.x, the program hangs after the tests finish (note that the `fail` test fails on Node 15.x due to a change in the error message, so this test must be commented out to reproduce).

### Expected Behavior

`metacall-node-port-test` should gracefully close after the tests finish.

### Current Behavior

`metacall-node-port-test` hangs

[2021-04-14 10:46] viferga commented on #36
Some work done by @neilvillamizar : https://github.com/neilvillamizar/Haskell-Browse-Module-Signatures
[Haskell-Browse-Module-Signatures-main.zip](https://github.com/metacall/core/files/6310264/Haskell-Browse-Module-Signatures-main.zip)

[2021-04-14 14:54] viferga commented on #65
Solved, but it still has bugs:
https://github.com/metacall/core/commit/fe20a4f1cc9bfa05c62eb61fde327091149cc7fd
https://github.com/metacall/core/commit/5fd817a48387eaac3be303ed0b3db760a8d2b1d5

[2021-04-14 14:54] #65 closed

[2021-04-14 15:03] viferga opened #119 "Duplicated symbols between loaders when using global scope still does not work"
## 🐛 Bug Report

This bug (https://github.com/metacall/core/issues/65) has been solved, creating a breaking change in the C API semantics which led to v0.4.0. But still there is problems when loading duplicated symbols in different loaders in their global scope.

Here's the TODO: https://github.com/metacall/core/blob/9957043581f97315921286586c3e848d1737b5e0/source/loader/source/loader_impl.c#L616

[2021-04-20 16:22] akshgpt7 opened #121 "Handle kill signals in the core"
### Is your feature request related to a problem?
If the user presses Ctrl-C in between the execution of an async function inside metacall, the `metacall_destroy()` process doesn't happen, and there's an abrupt exit. This causes many deadlocks and issues, for example [this](https://github.com/metacall/express-faas-rpc-example/issues/2).

### Describe the solution you'd like

The solution should be

[2021-04-22 10:55] viferga opened #122 "Replace Cherow by Babel or Acorn in Node Loader Bootstrap.js"
## 🚀 Feature
The idea of this is to get rid from `cherow` and implement a fully standard compliant parser with latest ES standards. The `cherow` library is already deprecated.

### Is your feature request related to a problem?
Not yet, but as this library is deprecated, we will have problems supporting new standards.

### Describe the solution you'd like
Any of the aforementioned will be enough. S

[2021-04-22 11:08] viferga commented on #30
Hi @avinal, sorry for the late reply. Right now this issue can be archived because this will be replaced by this task: https://github.com/metacall/core/issues/84

Finally we have decided to implement the REPL using Python, and maintain the current available functions written in C/C++, populating them to the REPL library in Python (giving them the proper command information and treating them as bui

[2021-04-22 11:08] #30 closed

[2021-04-22 11:41] viferga opened #123 "Make C# Loader production ready"
## 🚀 Feature
Right now the C# Loader does not follow the interface of MetaCall properly. This is very problematic because all scripts are loaded into the current `AppDomain` and this will allow collisions between dependencies. Apart from that, there is another problem related to the dependencies itself, they are usually not tracked properly and fail to load because the AppDomain cannot locate them

[2021-04-22 12:50] viferga commented on #122
@trgwii suggested https://github.com/eslint/espree

I think it may be a better alternative, but it must be investigated.

[2021-04-22 14:06] trgwii opened #124 "Programmatically parseable and centrally managed specs for inter-language communication and type information."
## 📚 Documentation

We need some way to organize things better so users and loader implementers have a better idea of what kinds of data they need to provide in order to integrate with or call into metacall.

Here is a TypeScript example of a rudimentary inspect spec. Ideally we should have these specs in a machine-parseable AND human-parseable format (JSON-Schema might be the way to go), and have

[2021-04-26 01:57] akshgpt7 opened #125 "Host API docs"
## Description
It would be really convenient to refer the MetaCall API, if its API docs are hosted somewhere. Currently, to reference the API, one has to look around in the header file declarations. Both for the [`metacall_value.h`](https://github.com/metacall/core/blob/develop/source/metacall/include/metacall/metacall_value.h) and [`metacall.h`](https://github.com/metacall/core/blob/develop/sourc

[2021-04-28 17:39] viferga opened #127 "Create documentation for creating new loaders"
## 📚 Documentation
Basically, this commit: https://github.com/metacall/core/commit/af60ad595e61d52d537bc528039471a2773c4f90 ; explains in detail how a new loader must be added, and all changes that need to be done in the core in order to add it. It also shows a very basic version, almost a template, of a loader that can be implemented using C++.

It would be great if we can transform this into doc

[2021-04-30 08:56] viferga commented on #106
https://github.com/metacall/core/commit/af60ad595e61d52d537bc528039471a2773c4f90

[2021-04-30 08:56] viferga commented on #114
https://github.com/metacall/core/commit/af60ad595e61d52d537bc528039471a2773c4f90

[2021-04-30 09:11] siv2r commented on #106
Shall I close this then?

[2021-05-04 22:27] viferga commented on #106
Yes @siv2r , I am going to close this in favor of this: https://github.comhttps://github.com/metacall/core/issues/114/metacall/core/issues/114

I have left information in the issue:
https://github.com/metacall/core/pull/107#issuecomment-832287755
https://github.com/metacall/core/pull/109#issuecomment-832288421

We can continue in this updated version, and move it gradually to the loader. You have

[2021-05-04 22:27] #106 closed

[2021-05-04 22:28] viferga commented on #114
I am going to left here information for develop this loader:

- In the build folder, run:
[code]

It needs LLVM v11.0.1.

[2021-05-04 22:47] siv2r commented on #106
Sure :+1:

[2021-05-10 17:08] JSMonk opened #132 "NodeJS Loader class is not implemented on ML example"
## 🐛 Bug Report

I've tried to run [the example](https://github.com/metacall/ml-news-article-scraper-example) with core `0.4.3` version and got the error with stack trace.

### Expected Behavior
Run node.js without an error

### Current Behavior
Throw the error like `NodeJS Loader Error: NodeJS Loader class is not implemented`

### Possible Solution
Seems like it's related to the new API feature p

[2021-05-11 17:15] viferga commented on #123
Also, some leaks obtained from address sanitizer:

[output.txt](https://github.com/metacall/core/files/6460888/output.txt)

[2021-05-13 10:36] viferga opened #134 "Improve Memory Safety"
## 🚀 Feature
The main idea of this is to produce a stable way to avoid and maintain memory leaks as low as possible. Even if we use options like Rust, most of our dependencies are C/C++ and this forces us to have a standard way of tracking, solving and maintaining memory leaks and undefined behaviors to the minimum.

### Is your feature request related to a problem?
Yes, recently I have suffered w

[2021-05-13 19:00] viferga opened #135 "Julia Loader"
## 🚀 Feature

This is an issue for writing all necessary information for the Julia loader. I will be editing this during the day explaining the details, we can use this to talk about any doubts, design decisions or implementation details.

###  Proof of Concept
The proof of concept done by Nikhil Narang (I don't know his GitHub account yet) can be found here:
[5_6114092993344439109.zip](https://gi

[2021-05-13 19:37] viferga commented on #135
Here's the base implementation for the loader: https://github.com/metacall/core/commit/cd015706c0e4c2d05e648460b7a1b99b796b61b0

[2021-05-13 21:25] siv2r commented on #114
LLVM installation: https://apt.llvm.org/

I used the automatic script for installing llvm 11, as shown below.
[code]

[2021-05-13 22:19] siv2r commented on #114
#137 changes the required version to **v11.0.0**

[2021-05-14 08:09] viferga opened #138 "Warnings related to string.h with newest versions of GCC"
## 🐛 Bug Report

Recently, related to LLVM Loader, I've seen that there's some warnings with strlen and strncpy which were not present on my version of GCC ( https://github.com/metacall/core/pull/137#issuecomment-840881892 ). This warnings indicate that there can be an out of bounds error or similar, so it should be reviewed.

### Expected Behavior
No warnings shown.

### Current Behavior
Warnings

[2021-05-14 08:10] viferga commented on #132
This has been mitigated but the proper solution would be to implement class support in NodeJS.

[2021-05-14 08:30] viferga commented on #114
I have updated the build instructions here ( https://github.com/metacall/core/issues/114#issuecomment-832290058 ), in the last command I was using cmake instead of ctest.

Also I have cleaned up a bit the comments and solve a minor bug in the types (the string was wrong): https://github.com/metacall/core/commit/85472fa8b4a688a8a8a48a0f954df6bffbccc9a3

[2021-05-14 08:33] viferga commented on #114
Respect to this, it is documentation but it has to serve to implement the support of LLVM in docker, basically here:
https://github.com/metacall/core/blob/develop/tools/metacall-environment.sh

It is a TODO that has to be done too, for having complete support of the LLVM Loader.

[2021-05-14 09:30] yashtazor commented on #114
Oh, cool then 👍

[2021-05-15 13:05] Hirrolot opened #139 "Can't commit due to the `pre-commit-add-contributor` hook"
## 🐛 Bug Report

I can't make a commit because every time I try to `git commit`, it says the following:

[code]

I have already added that line to the `CONTRIBUTORS` file but it didn't work either.

Putting `exit 0` at the beginning of `githooks/pre-commit-add-contributor` is a workaround.

### Meta

#### Git status

[code]

#### OS

[code]

[2021-05-18 18:42] giarve commented on #139
0524afc57ac10f439154186c023ab7def5afb33a should fix this, thanks.

[2021-05-18 18:42] #139 closed

[2021-05-18 18:52] ahmetsait opened #141 "Exception & Error handling is non-existent"
MetaCall currently has no mechanism to propagate errors to the caller, aside from a simple logging to notify the user. Exceptions are often part of the API, meaning that it is necessary to handle them in order to make use of these APIs properly. Therefore, being able to propagate exceptions through MetaCall is crucial for making it usable beyond trivial scenarios.

This issue tracks the error hand

[2021-05-19 13:02] viferga opened #144 "`metacallcli-py-tsx` test executes twice the script"
## 🐛 Bug Report

I have no idea why this happens but when executing the test, it shows the print message twice, which is completely wrong and unacceptable. You will see two lines showing this output:
`<h1 data-reactroot="">Hello World</h1>`

Another **important thing** is that it seems that Visual Studio C++ does not accept duplicated environment variables in tests, this should be improved too.

h

[2021-05-20 07:35] ketangupta34 opened #145 "Java Loader"
# Implementation of Java Loader
This is the issue for the discussion related to the development of the Java Loader.

# Proposed Solution
## 1) Develop the PoC for the proposed idea.
[ ] Implement the *bootstrap class* implementing some major functions related to the java loader, which include callFunction, LoadFromFile, LoadFromMemory, etc, using the *java Compiler API*.
[ ] Implement the cpp func

[2021-05-21 14:40] viferga commented on #145
Here's the updated version of the test: https://github.com/metacall/core/tree/develop/source/tests/metacall_java_test
Here's the script that is being loaded: https://github.com/metacall/core/tree/develop/source/scripts/java/fibonacci/source

[2021-06-11 12:26] AjithRamachandran opened #150 "File not found error on reload"
## 🐛 Bug Report

Error when trying to reload the python file.

logs:
[code]

[2021-06-14 09:32] viferga commented on #150
I could not reproduce your bug, neither there is enough information to reproduce it.

[code]

[2021-06-14 09:32] #150 closed

[2021-06-16 16:10] viferga commented on #144
Solved in v0.4.10 and v0.4.11.

[2021-06-26 15:52] viferga commented on #125
Done: https://core.metacall.io/api/html/index.html

Here's the repo: https://github.com/metacall/landing-page

[2021-06-26 15:52] #125 closed

[2021-06-30 12:52] Encrylize opened #160 "Wasm loader: Memory leak when calling functions"
## 🐛 Bug Report

Calling a Wasm function causes a memory leak as reported by Valgrind:
[code]

Adding up all the Wasmtime-related leaks gives 872 bytes, which is to be expected and is not a concern. The concerning leaks seem to stem from the loading of the dynamic library.

### Expected Behavior
Valgrind should only report a leak of 872 bytes, all of them from Wasmtime.

### Current Behavior
Valgr

[2021-06-30 13:04] viferga commented on #160
I had the dlopen memory leak before, it is something common: https://stackoverflow.com/questions/1542457/memory-leak-reported-by-valgrind-in-dlopen

The best thing we can do is adding this a suppression file like this https://stackoverflow.com/a/3649846 in the folder `./source/tests/memcheck` and use them to run the tests: https://github.com/metacall/core/blob/9bcc4c97acac5e9acc497623fa4e7e736c1f7

[2021-06-30 16:40] Encrylize commented on #160
Alright, great. I'll look into adding a suppression file.

The Wasmtime leak happens even in a minimal program that simply instantiates a Wasm engine and then deletes it, so there's nothing we can do about it.

[2021-06-30 16:40] #160 closed

[2021-07-02 01:27] viferga opened #162 "Java 9+ Dynamic Classpath"
As we talked today @ketangupta34 , I was going to do a simple PoC for supporting dynamic classpath for Java 9+ (and previous) versions. The final implementation for Java 9+ is very simple and fits perfectly our strategy. We won't be able to import the classes directly from JNI as we talked before, but the complexity will be less than before anyway.

[code]

When implementing the `FindClass` and `N

[2021-07-02 07:20] ketangupta34 commented on #162
@viferga  Thank you for this, I think this might work. I am gonna test this using java 11 and java 8. If both work, I will map this to actual java loader implementation.

[2021-07-05 10:25] HarshCasper opened #163 "Errors in the Ruby Loader"
## 🐛 Bug Report

I created a file named `app.rb` and pushed the following code into the same:

[code]
On trying to execute it through MetaCall CLI, I get the following output:

[code]

### Expected Behavior

It should not throw any errors.

### Current Behavior

It shows the errors in the Ruby Loader and displays that no module could be loaded and the evaluation has failed.

[2021-07-05 22:42] #162 closed

[2021-07-05 22:43] viferga commented on #162
Merged here: https://github.com/metacall/core/pull/164

[2021-07-10 17:44] sep2 opened #167 "how to embed in a c#/f# peoject?"
## 📚 Documentation

The readme said there is a port in c# which we can use to embed metacall, I assume it is a nuget package, but could not find the related docs/repo.

btw on the use case I am building an online game server that allows players to upload their plugin scripts to extend the game logic.

[2021-07-10 22:18] giarve opened #169 "Python Async function calls"
## 🚀 Feature

The commit https://github.com/metacall/core/commit/99ccd91dd65f043f24a927d602fa337626345927 implements the python asyncio loop in a background thread but only half of the work is done. Basically it has been merged to keep it inside the main branch and not in a separate pull request so that contributors will have in mind that the functionality is going to exist in the future.

### Add

[2021-07-10 22:36] viferga commented on #167
The C# Loader and Port has been a bit discontinued and it was one of the first ones that was implemented. It works but needs improvement ( https://github.com/metacall/core/issues/123 ). Right now there is a Port for it, but it is not published in NuGet: https://github.com/metacall/core/tree/develop/source/ports/cs_port/source

It may need to update the project because it was coded for NetCore 1.0,

[2021-07-10 23:29] sep2 commented on #167
Thank you for the reply, that clear a lot!

[2021-07-10 23:29] #167 closed

[2021-07-11 15:01] viferga opened #170 "Implement process executable (self) path in configuration and remove duplicated code from loaders"
## 🚀 Feature

Basically what we have to do is the same as we did here: https://github.com/metacall/core/commit/28b890af3945857a69dba807f3f3a07327fa3904

But for executable path, which is used in multiple loaders:
 - Node: https://github.com/metacall/core/blob/28b890af3945857a69dba807f3f3a07327fa3904/source/loaders/node_loader/source/node_loader_impl.cpp#L3775
 - Python: https://github.com/metacall

[2021-07-19 08:44] viferga opened #173 "Tests failing after update to Debian Bullseye"
## 🐛 Bug Report

This list of tests are failing in the last update for Bullseye (https://github.com/metacall/core/commit/6b98c437bfaa0234a5c58761691f45a332843a8f):
[code]
- 37 and 38 are ok to fail, because it is unrelated to this update.
- 16 fails because python seems not to be doing properly the migration of django.
- 36 and 83 fail at the end:
[code]

- I have not been able to reproduce them (

[2021-07-19 14:01] viferga commented on #173
I could reproduce it, I was using a wrong version of the docker image:
[code]

[2021-07-19 14:33] rojserbest opened #174 "Support TypeScript `Promise`s when embedding TypeScript into Golang"
Parra

Parra

Parra

Parra

Roman Sharkov

Roman Sharkov

Also read [this](https://t.me/c/1307086795/25100) until [this](https://t.me/c/1307086795/25128) in [here](https://t.me/joinchat/BMSVbBatp0Vi4s5l4VgUgg).

[2021-07-23 11:02] viferga commented on #174
Just for clarifying, what we are talking here is in order to enable go-routines with MetaCall Go Port. Basically it needs some kind of event loop and a way to dispatch fast the calls.

In other hand, there's the requirement of @rojserbest for implementing promises and callbacks so we can do more magic with the Go Port. Both things are related because probably Go will suffer if the callbacks or pro

[2021-07-31 11:05] viferga commented on #163
Solved: https://github.com/metacall/core/commit/7be3cb58f05d418d15fe23db783902b0b4e6d7af

[2021-07-31 11:05] #163 closed

[2021-08-08 05:43] HolidayXue opened #183 "Destory not exit bug"
## 🐛 Bug Report

emebing js into c++ code
when call the function that name is metacall_destroy
MetaCall Embedding NodeJS Example
static int cleanup(int code)
{
	if (metacall_destroy() != 0)
	{
		return code != 0 ? -code : -255;
	}

	return code;
}

block in node_loader_impl.cpp file
function name  ‘node_loader_impl_destroy’

console log out
MetaCall Library 0.1.0
Copyright (C) 2016 - 2021 Vicente

[2021-09-06 11:26] viferga commented on #183
@HolidayXue thanks for reporting, and sorry for lasting into answering. This is a bug that I have been trying to hunt. We are really near to tag the version v0.5 and it is going to be shipped with NodeJS +12, which solves the bug on the current implementation.

I am going to merge everything as soon as possible. How can I ping you once I have solved this in order to try it again?

[2021-09-06 11:28] viferga commented on #183
By the way, did you try this on the last develop branch?

[2021-09-07 06:33] sagarkumar3105 opened #191 "while cloning, it gives a warning."
------------------------------------------------------------------
While cloning it give this prompt
[code]
![image](https://user-images.githubusercontent.com/74974420/132294671-8be77c71-4e1b-4b51-b9ff-4ef073c68092.png)

[2021-09-11 10:17] #191 closed

[2021-09-14 09:36] viferga commented on #173
Solved, but I am still working on some leaks towards v0.5.

[2021-09-14 09:36] #173 closed

[2021-09-24 20:06] mweichert opened #193 "Any plans to support embedding Deno?"
Hi there,

Just a quick question. Are there any plans for adding support for embedding Deno? I see that you have an example for embedding NodeJS, but I'd love to use Deno given that it supports TypeScript out-of-the-box.

Thanks,
Mike

[2021-09-27 09:58] viferga commented on #193
Hi @mweichert, we have a proof of concept for embedding Deno. But right now it involves modifying the code of Deno, because it does not have embedding API. It is very similar to what happened when embedding NodeJS (starting from version 8, it did not have embedding API until version 16). Not having embedding API implies a lot of pain or modifying the Deno source (which is something we try to avoid

[2021-09-27 09:58] #193 closed

[2021-09-27 09:58] #183 closed

[2021-09-27 09:59] viferga commented on #183
I am closing this, try the latest version (v0.5.3) and if you have more problems, please join our chats:
<div id="badges" align="center">
  <a href="https://t.me/joinchat/BMSVbBatp0Vi4s5l4VgUgg" alt="Discord">
    <img src="https://img.shields.io/static/v1?label=metacall&message=join&color=blue&logo=telegram&style=flat" /></a>

  <a href="https://discord.gg/upwP4mwJWa" alt="Discord">
    <img src=

[2021-10-04 11:54] viferga opened #200 "Releases are not being generated properly"
## 🐛 Bug Report

For some reason, the CI/CD is not generating the releases properly. It is not a big problem but it would be cool to keep it working. Guix build system is not being affected by this. The sources of the tag are automatically published so it's not a major inconvenient.

[2021-10-07 12:03] viferga commented on #200
Solved.

[2021-10-20 11:41] viferga commented on #174
Promise is not implemented yet, but `Await` has been already implemented and the Go Port is completely thread safe now, so I thing this issue can be closed:
https://github.com/metacall/core/commit/929faa1e78ec19c66b908753bd76896e07e39cd5

[2021-10-20 11:41] #174 closed

[2021-11-14 07:17] kobi2187 opened #217 "support Nim please"
## 🚀 Feature
Can you add support for the Nim language?

[2021-11-15 11:27] viferga commented on #217
@kobi2187 can Nim compile to C? We just added support for C, maybe you can use that for supporting Nim.

In any case, we are implementing now Rust too, if you have time, maybe you can start implementing Nim.

What's your use case by the way? It would be interesting to know what programming language are you going to mix with Nim.

[2021-11-17 05:10] kobi2187 commented on #217
yes, correct. right now I use a library called nimpy and build a .so binary in Nim, which can be exported to python (the python side simply imports the fast functions) then I can work with python gui frameworks like kivy.
But the other way around, a sort of binding is a very enticing prospect as well. If the language is fast enough, I can use its libraries, though vm languages need the whole runti

[2021-11-17 13:41] viferga commented on #217
MetaCall is not a transpiler, it usually embeds other JITs or Runtimes in order to execute the other languages. You can use C#, it uses DotNet Core CLR in order to execute the C# code.

So basically you are saying that you are using Nim libraries compiled into .so from Python, is that right? This is the opposite to what I was saying before.

I recommend you to check this: https://github.com/metaca

[2021-11-18 07:26] kobi2187 commented on #217
For my purposes: mostly the Nim Port.
Others in the Nim community have started working on the other part.
see: https://forum.nim-lang.org/t/8479
Of course your solution is most likely more mature.

[2021-11-18 07:39] kobi2187 commented on #217
I started a Nim forum thread:
https://forum.nim-lang.org/t/8635

[2021-11-22 10:46] viferga commented on #217
@kobi2187 if you have an example of a Nim wrapper around a C library I can write the port for Nim.

[2021-11-22 10:52] viferga commented on #217
Respect to this, I am not sure how easy is going to be to insert GraalVM into Nim, and now we support almost the same or even more languages than them. Soon we will support Rust too.

[2021-11-22 12:19] kobi2187 commented on #217
Cool, many thanks for your efforts!

Here are a few example bindings:
https://nimble.directory/search?query=Bindings
https://nimble.directory/search?query=binding

maybe choose a small lib to see how it's done, and bigger ones if metacall requires special features.

There are a few tools:
1) https://github.com/nimterop/nimterop
2) https://github.com/PMunch/futhark
3) the built in tool: c2nim

I ha

[2021-11-28 12:49] #169 closed

[2021-12-04 11:16] viferga commented on #217
@kobi2187 I wrote a base project which is already working: https://github.com/metacall/core/commit/f449792d0e09f4536b50d964102812163036a0ba

For making it work you have either to compile metacall manually or pass the CFLAGS and LDFLAGS pointing to the binaries (if you installed it by using binaries).

The test is passing, in my opinion, the API should be wrapped through templates and simplify the

[2021-12-04 11:26] viferga commented on #217
@kobi2187 I wanted to answer this in the Nim forum:
[code]

But I am not receiving the confirmation email. My user there is **viferga**.

[2021-12-05 12:30] kobi2187 commented on #217
awesome work! amazing cooperation, thank you!  I need to learn MetaCall in order to figure out some enticing use cases, and promote to the community.
My Nim knowledge wrt macros and templates is quite low, but enthusiasts exist and it's not a hard job overall to make a nice api. I am sorry, currently my personal priorities are kind of set. I will see what can be done, after I get it to work.
I thi

[2021-12-06 09:57] viferga commented on #217
Can you post it on the Nim forum thread? So people from the community can contribute if they want to.

Can I close the issue?

[2021-12-06 17:45] #217 closed

[2021-12-06 23:46] inimeseke opened #223 "Building on OSX fails"
## 🐛 Bug Report

Building on OSX 10.14.6 fails due to SSL.
https://stackoverflow.com/a/42334357

Running
`cmake -DOPTION_BUILD_BACKTRACE=OFF -DOPTION_BUILD_TESTS=OFF -DOPTION_BUILD_LOADERS_PY=ON -DOPTION_BUILD_LOADERS_NODE=ON ..`
then
`make -j4`

Results in this.

[code]

### Possible Solution

Setting this in FindNodeJS.cmake seems to solve it

[code]

[2021-12-07 08:43] viferga commented on #223
Solved: https://github.com/metacall/core/commit/8830fe88cc7419893ab1a73ebde69b7c3340fe61

[2021-12-07 08:43] #223 closed

[2021-12-19 19:42] padmajabhol opened #224 "Integrate Hadolint to lint Dockerfiles"
## 🚀 Feature

Hadolint is a docker file linter

### Is your feature request related to a problem?

### Describe the solution you'd like
Integrate CI pipelines to configure hadolint with dockerfiles.

[2021-12-22 19:24] karnikkanojia commented on #138
hey i would like to work on this issue if it is still open?

[2022-01-10 13:56] viferga opened #231 "Allow MetaCall to run from `python.exe` or `node.exe`"
## 🚀 Feature

This is a cool feature that I have discovered while talking to @Duckxz . This feature is also related to GSoC-22: https://github.com/metacall/gsoc-2022#polyglot-debugger

Right now MetaCall suffers from a limitation, which is, if we import metacall in node, python or whatever, it have to be run from metacall CLI itself, otherwise what happens is that metacall creates a new instance o

[2022-01-18 12:00] viferga commented on #170
Solved: https://github.com/metacall/core/commit/b9639af8c92c5e1b9bcc002273dd3527aaf54144

[2022-01-18 12:00] #170 closed

[2022-01-19 08:32] viferga opened #232 "Implement support for more platforms (specially in dynlink)"
## 🚀 Feature

The idea of this is to provide support for multiple platforms for dynamic linking libraries (i.e extend the platforms where the plugin system will work). The current platforms implemented at this moment are:
 - Windows (LoadLibrary)
 - Linux / Unix (dlopen)
 - MacOs (NSCreateObjectFileImageFromFile)
 - BeOs (load_add_on)

Other platforms that can be implemented are:
 - HP-UX (shl_loa

[2022-01-19 08:51] viferga opened #233 "Remove the need of set up environment variables in CLI or MetaCall"
## 🚀 Feature

MetaCall has the need to set up multiple environment variables ( https://github.com/metacall/core/blob/develop/docs/README.md#42-environment-variables ), for example, in order to find the global configuration or plugins. This can be basically avoided if we use a trick for locating `libmetacall.so` / `metacall.dll` / `libmetacall.dylib` from the executable itself. This solution is pla

[2022-01-19 08:57] viferga commented on #134
Here's few commits that prevent memory bugs derived from user input:
 - https://github.com/metacall/core/commit/717086d91d74425a14c4e6d7b38fd32037a96157
 - https://github.com/metacall/core/commit/a28f50bd89f35ad48014951e36cf804b25a9381f
 - https://github.com/metacall/core/commit/e7cd9feeb8b184acd4f1a90f0c8814a84e41be7c

The last one contains information for when we implement our own memory pool, i

[2022-01-20 14:24] burnerlee commented on #233
@viferga I would like to get started by picking up this issue. Can you please assign it to me?

[2022-01-20 14:25] burnerlee commented on #232
@viferga hey, can I pick up this issue and submit a PR for the same?

[2022-01-24 01:21] sin3point14 opened #236 "Incompatible CLI options for VS 2019 Debug build"
## 🐛 Bug Report

When building in Visual Studio 2019 in `Debug` mode I get this error:
![image](https://user-images.githubusercontent.com/43549821/150707064-c9415542-8e79-494b-9dba-31784f495fd0.png)
Only happens in `Debug` build; `Release`, `MinSizeRel`, `RelWithDebInfo` build fine

### Expected Behavior
The project should build fine

### Current Behavior
The project did not build :(

### Possible

[2022-01-24 01:25] #236 closed

[2022-01-24 01:26] sin3point14 commented on #236
Opened with wrong account oops

[2022-01-24 01:33] burnerlee opened #237 "Incompatible CLI options for VS 2019 Debug build"
## 🐛 Bug Report

When building in Visual Studio 2019 in `Debug` mode I get this error:
![image](https://user-images.githubusercontent.com/43549821/150707064-c9415542-8e79-494b-9dba-31784f495fd0.png)
Only happens in `Debug` build; `Release`, `MinSizeRel`, `RelWithDebInfo` build fine

### Expected Behavior
The project should build fine

### Current Behavior
The project did not build :(

### Possible

[2022-01-24 11:16] viferga commented on #237
This needs to be documented. Basically.. MetaCall build system depends on this flag:
[code]

The default option is Release. MSVC allows you to change after generation time the build type but metacall depends on the cmake option.. so each time you want to change the build type you need to set it up and re-generate the msvc files.

[2022-01-24 11:33] viferga commented on #233
The order of priority for setting up the paths is:
1) User defined environment variables.
2) Paths obtained from the mechanism defined before.
3) Compile time default paths.

The paths (and environment variables) are initialized here:
https://github.com/metacall/core/blob/35652b3399f00caa11e1b25ee87db9ec67c5bdd8/source/loader/source/loader_env.c#L30
https://github.com/metacall/core/blob/35652b3399

[2022-01-24 12:25] burnerlee commented on #233
@viferga I wanted to discuss this approach with you. I was planning to define a function `set_env_path_from_metacall_lib` which does the following job:
- finds the custom path e.g. `/usr/local` using the location of shared library. Let's call this `metacall_custom_path`.
- then for each env variable, it would check if the env variable has been setup by the user. If any env is NULL or an empty stri

[2022-01-25 09:32] viferga commented on #233
I think it's fine but I would start doing the function that gives you the path, and only that, then create a unit test for it.

Once you have this, which works independently of metacall, then you can try to integrate this into the codebase. With unit tests you ensure your function works properly. I can help you to set up them. We use a lot Test Driven Development in this project, it helps us a lot

[2022-01-25 15:52] inimeseke opened #239 "Warnings when making py_loader"
## 🐛 Bug Report

running `make py_loader` in the build folder after doing `cmake ..` and `cmake -DOPTION_BUILD_BACKTRACE=OFF -DOPTION_BUILD_TESTS=OFF -DOPTION_BUILD_LOADERS_PY=ON ..` gives

[code]

[2022-01-25 19:56] burnerlee commented on #237
@viferga it makes sense. But this solution seems incorrect as an IDE user would expect the configurations to work fine out of the box. Apart from Visual Studio, I had an issue in Clion where breakpoints were skipped. Now that I added the flag you mentioned, it works fine for me. So if this hack is intended, we can close this issue and I can add this to the documnentation

[2022-01-26 10:04] viferga opened #241 "Deprecation of write_compiler_detection_header in CMake"
## 🐛 Bug Report

Since CMake 3.20, the write_compiler_detection_header has been deprecated ( https://cmake.org/cmake/help/latest/module/WriteCompilerDetectionHeader.html ). My recommendation is to completely remove it. It is being used in a lot of parts of the CMake code and it generates a lot of unnecessary boilerplate.

All the `<module>_features.h` should be removed from the project, instead we

[2022-01-26 10:13] viferga commented on #237
I just discovered that since CMake 3.11, you can set up per configuration the options!
We should either check if this works: https://stackoverflow.com/a/32956785
Or this: https://stackoverflow.com/a/33831145

I think the second version may not work because generator expressions are handled at cmake generation time.

I'm leaving the issue open until it is solved.

[2022-02-05 23:15] zikpefu commented on #121
Hi I would like to formally take this issue please, thanks

[2022-02-06 14:01] giarve commented on #40
Done.

[2022-02-06 14:01] #40 closed

[2022-02-09 12:54] b2pacific commented on #241
Hi @viferga !
I would like to work on this issue. Can you assign this to me?
Also, could you give some context regarding this issue as to which files I need to modify? I would really appreciate that :)

[2022-02-09 19:51] #233 closed

[2022-02-11 13:11] viferga commented on #134
I have improved a bit the point 1. It is a base, `cs_loader` has a lot of leaks but they are difficult to track properly unless we build NetCore with sanitizer flags.

I have added `./docker-compose.sh test` which builds with sanitizer options and (soon) with the all the languages at once.

It reports at the end the number of leaks originated and the summary of the failed tests.

[code]

Here's th

[2022-02-14 18:58] AkechiShiro opened #246 "Eval in Metacall CLI fails to parse spaces properly"
## 🐛 Bug Report

### Expected Behavior
Code with spaces should be evaluated correctly inside the Metacall CLI.

### Current Behavior
At the moment, any code containing spaces raises an error when writing directly on the command line.
[code]

### Possible Solution

Either rework the parsing of arguments or put this as a goal along in the refactoring of the Metacall CLI for GSoC 2022.

### Steps to

[2022-02-23 14:12] viferga commented on #134
I have added leak suppression for DotNet Core ( https://github.com/metacall/core/commit/262ecd1f9d76f8d8e18422c8faa8b8b5d2dd43af ), the current amount of leaks is the following:
[code]

[2022-02-24 15:56] viferga commented on #119
Solved here:
https://github.com/metacall/core/commit/9586750fe1231c30c54b1d936751ee5df763aaee#diff-a86cc89c01bb9dd9653e9efcf86e7a33d1732b362e96ee1714a49d7c427b00b9R619-R643

[2022-02-24 15:56] #119 closed

[2022-02-24 15:57] viferga commented on #138
Most of these have been solved, but I do not trust them.
I think we should add some way to safely handle strings, standardized in the whole project. Something like this:
https://github.com/metacall/core/commit/9586750fe1231c30c54b1d936751ee5df763aaee#diff-453f830a73f17cd076f14418fcf1313db6b1eea785b89108dd2536dcee5b5dccR38-R45

[2022-02-26 15:01] Rajat1206 commented on #241
I would like to work on this issue!

[2022-03-02 12:27] viferga commented on #66
Solved: https://github.com/metacall/core/commit/69343205896f32fc41b492fc3c503c01d6109d74

[2022-03-02 12:27] #66 closed

[2022-03-02 14:49] viferga commented on #134
Almost there: https://github.com/metacall/core/commit/69343205896f32fc41b492fc3c503c01d6109d74 https://github.com/metacall/core/commit/1ac6afd6d0d7bd6bb992cb115b0d59fe5d07de65
[code]

[2022-03-03 15:24] afreenabegum commented on #127
Hey @viferga . Am interested in contributing to this issue. Can you assign it to me under codeflow!!

Thank you.

[2022-03-07 07:01] purohitmansi commented on #127
Hello @viferga!

I am an openforce 2022 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-09 05:15] kuraakhilesh8230 commented on #246
 "Hi, I am  kura akhilesh, a contributor to OpenForce 2022. I would like to work on this issue, could you please tell me how this issue works. I would be making a PR as soon as I am done with resolving the issue. Thank you"

[2022-04-04 00:39] PIG208 opened #256 "`metacall::inline` not available with the `metacall` crate"
## 🐛 Bug Report

### Current Behavior

[code]

### Possible Solution

Publish the sub crates to crates.io and use the published version as a fallback.

### Context (Environment)

When using the rust port, I would like to take advantage of the new inline support.

### Detailed Description

Since `inline` is added as one of the dependencies using a path, it is not available when the `metacall` crate

[2022-04-07 18:29] viferga commented on #256
Sorry I have closed this without notifying you @PIG208 . Can you check it out now if it works? The latest version is `0.3.0`: https://crates.io/crates/metacall

[2022-04-07 21:03] PIG208 commented on #256
Yes, it works now.

[2022-04-07 21:03] #256 closed

[2022-04-11 17:54] Samyak2 commented on #241
I noticed this warning when building metacall today.

I see that it's used for these features `cxx_alignas cxx_alignof cxx_constexpr cxx_final cxx_noexcept cxx_nullptr cxx_sizeof_member cxx_thread_local` in the `write_compiler_detection_header` call present in the CMake lists.

Though, I couldn't find any usage of corresponding macros - `_ALIGNAS`, `_ALIGNOF`, `_CONSTEXPR`, `_NOEXCEPT`, `_NULLPTR`

[2022-04-12 18:20] Samyak2 opened #261 "All Python code exits with a `SystemError` after an exception has occurred"
## 🐛 Bug Report

When running python code through the CLI, once there's a python error (for example, a `TypeError`), all subsequent python calls, even to the same function, fail with:
[code]

### Expected Behavior

Subsequent correct python code should run as expected.

### Current Behavior

No python code runs after an exception has occurred,

### Possible Solution

The error/exception needs to b

[2022-04-13 06:22] viferga commented on #261
We can add a small patch in order to solve this, just clearing the error after the call.

But I think the best way of solving this is solving this issue: https://github.com/metacall/core/issues/141

Catching the exception, propagating it to the top module and clearing it from the runtime.

[2022-04-13 10:22] Samyak2 commented on #261
I don't have any experience with this codebase, so can I try making a patch to fix this for now? I can help with #141 once I'm more familiar with the codebase and the context around the issue.

[2022-04-15 11:10] Samyak2 opened #264 "Building Metacall with Node v16 fails with `error: ‘remove_cv_t’ is not a member of ‘std’?`"
## 🐛 Bug Report

When building metacall from source, the build scripts download and build Node v16.14.2. The build of nodejs succeeds but Metacall's build fails with the following error:
[code]

### Expected Behavior

Should compile successfully.

### Current Behavior

Compilation error due to not enforcing C++14 and above.

### Possible Solution

Set C++ standard to 17 when building the Node load

[2022-04-18 05:24] Datumtyagi commented on #232
Hi,
It is really good idea & repo too, I want to use my skills and work on this issue!

[2022-04-19 09:55] #264 closed

[2022-04-20 09:52] rxbryan commented on #84
created this flowchart for the cli refactor project
![input flowchart](https://user-images.githubusercontent.com/33056740/164201862-f701055a-a83e-4e62-b43e-cb53e8cde084.png)

[2022-04-20 09:55] rxbryan commented on #84
the flowchart is a bit hard to read so you probably have open it in a new tab and zoom in. working on a more legible diagram

[2022-04-20 12:11] rxbryan commented on #84
![cli-refactor-program-flow](https://user-images.githubusercontent.com/33056740/164227494-84fb5aed-b078-401b-a3e5-33fafd12c7db.png)

[2022-04-21 15:10] viferga commented on #261
I have solved the issue, this is how it looks like now:
[code]

[2022-04-21 15:13] viferga commented on #261
Respect to this, I just have added support for exception handling but there is a list of TODO. I can make a diff so you can check what I have done and implement the same for other languages. I am closing this issue for now, and I am going to add the TODO list in https://github.com/metacall/core/issues/141

[2022-04-21 15:13] #261 closed

[2022-04-26 08:16] viferga opened #266 "Deadlock when calling Python from another thread on which it was started"
## 🐛 Bug Report

Python deadlocks if we call it from a different thread, this happens if we initialize python on the current main thread and then we initialize NodeJS, then we try to load a Python script from NodeJS.

I have added a test here: https://github.com/metacall/core/blob/develop/source/tests/metacall_node_python_deadlock_test/source/metacall_node_python_deadlock_test.cpp

It reproduces t

[2022-04-27 00:35] viferga commented on #266
This is solved with: https://github.com/metacall/core/commit/aa155a5c0f700b97d61b3ec8a26f6531ccc6b907

[2022-04-27 00:40] viferga opened #267 "Improve single thread path for GIL (Python Loader) when executing any Python C API call"
## 🚀 Feature

Related to this issue: https://github.com/metacall/core/issues/266 ; it's is possible that single threaded execution may not need to save and restore thread context for each call. This is similar to when NodeJS executes the call in the same V8 thread, it does not need to be enqueued, it is safe to execute the call directly. For this, we can check if the GIL is acquired in the current

[2022-04-27 00:41] #266 closed

[2022-05-30 07:02] samarth-jain28 commented on #232
Hi,
I am new in opensource , trying to contribute . I found this good first issue and want to contribute in it . I have knowledge of c/c++ .
How can i start ?

[2022-06-07 07:57] HZHgagaga opened #281 "CMake Error at cmake/FindNodeJS.cmake:505 (message)"
I encountered a failure while trying to run this project: https://github.com/metacall/golang-typescript-example
My steps are as follows:

[code]

After a period of downloading, the following prompt appears:
[code]
My node version:
[code]
This error still occurs when my node is switched to version 12.x

[2022-06-07 19:08] patdaburu opened #282 "metcall/metall.h: No such file or directory"
### Detailed Description

Hello.  I'm trying out metacall for the first time (_very excited_) with go on Ubuntu 20.04.  When I call `metacall.Initialize()` I get an error about a missing header file (`metacall/metacall.h`).

I'm not sure that this is a "bug" since it's possible that I've botched the install, but I think I've followed the steps outlined and after looking around the Internet I haven

[2022-06-08 09:46] giarve commented on #282
@patdaburu  please check out this in the documentation

https://github.com/metacall/core/tree/develop/source/ports/go_port/source#building

This section:
https://github.com/metacall/core/blob/071efdc7374f82678a2dcbdb5c8ca4d3481ce190/source/ports/go_port/source/README.md?plain=1#L62-L72

[2022-06-08 13:37] patdaburu commented on #282
_D'oh!_  _Face palm!_ I completely missed this!  Thank you @giarve!!

[2022-06-08 14:27] #282 closed

[2022-06-14 20:58] giarve opened #284 "Compile warning gcc 12 - review"
`[ 97%] Building C object source/loader/CMakeFiles/loader.dir/source/loader_impl.c.o
/home/username/metacall/core/source/loader/source/loader_impl.c: In function ‘loader_impl_load_from_memory’:
/home/username/metacall/core/source/loader/source/loader_impl.c:861:66: warning: ‘loader_impl_load_handle’ reading 4096 bytes from a region of size 255 [-Wstringop-overread]
  861 |

[2022-06-18 09:45] #281 closed

[2022-06-20 07:32] paramsiddharth opened #285 "Multiple errors while running tests"
## 🐛 Bug Report

1. CTest truncates the output (it didn't for me, for @viferga's PC it did, needs investigation).
2. Several tests fail, false positives to be taken into account that need to be skipped.
3. The script continues despite errors which are only detected at the end (using Bash might be the solution).

### Steps to Reproduce
[code]

Log 1: https://gist.github.com/paramsiddharth/48e2ded5b

[2022-06-23 15:35] amagdy19 opened #286 "signal handlers are not working when using node loader"
## 🐛 Bug Report

I am using metacall shared library to embed nodejs code into my c++ application
inside my nodejs code I am spawning a child process
and I am connecting signal handlers inside c++
when the child process which is invoked from nodejs is finished SIGCHLD handler is not called in C++

### Steps to Reproduce
Using the attached [child_process_sample.zip](https://github.com/metacall/core/

[2022-06-23 16:16] viferga commented on #285
This has to be properly addressed, most of them are false positives! I am going to solve the ones related to log. Please try to work on the CI/CD solution for solving it.

[2022-06-23 16:25] amagdy19 commented on #286
I have tried a workaround to catch SIGCHLD signal in nodejs then call a CPP callback function then inside the cpp callback function I call "raise(SIGCHLD)"
I found that the signal handler will not be called also
kindly find the attached [workaround.zip](https://github.com/metacall/core/files/8969046/workaround.zip)
try the same above steps to reproduce
the workaround source code is located in work

[2022-06-25 11:40] viferga opened #288 "Review the design of the extensions"
We should take into account that extensions can fail to load, this is not shown in the current design as the entry point of each extension returns void. In order to avoid this, we should return an `int` or maybe better, an enum with some different states (in case of using the enum it should be published in some place in order to have it available in the extension API or metacall API). Once this is

[2022-06-25 12:14] rxbryan commented on #288
could you explain this? @viferga

[2022-06-27 16:02] viferga commented on #286
What about this? Does it fits your needs?

https://github.com/metacall/core/commit/8521b054e1d3ecf42064e9a11fccdd31c06899ac

[2022-06-27 19:50] rxbryan commented on #288
This clarifies things.

[2022-06-27 19:53] viferga commented on #286
I just realized, it does not propagate to the main thread. But this is basically due to the problem I told you, it runs in a different thread. I am going to do a workaround and share it as soon as possible.

[2022-06-27 21:27] #286 closed

[2022-06-28 09:34] rxbryan commented on #288
I agree that we should go with 'plugins'. Since extensions are supposed to be shared libs loaded by ext_loader.

[2022-06-28 18:06] viferga commented on #285
After avoiding the bug from logs, this is the list of errors:
[code]
Here's the full logs:
[output_sanitizer.txt](https://github.com/metacall/core/files/9003665/output_sanitizer.txt)

This is with log errors (your report):
[code]

[2022-06-30 12:50] rxbryan commented on #288
I think this should be per plugin project. Since some plugins will have to be compiled and those that are scripts will just be copied over.

So the post compilation scripts will be project specific.

[2022-06-30 12:55] rxbryan commented on #288
So should I go ahead and create a source/plugins folder. The path in load_extensions will have to be changed from  "extensions" to "plugins" or "metacall_plugins"

[2022-07-04 12:23] CMCDragonkai commented on #36
Have you see tweag's work on inline-r, inline-c, inline-js and more? I'm a big fan of more cross language interop. Especially since python has such great math and number processing libraries like numpy.

[2022-07-06 11:50] viferga commented on #288
I want to make first the project structure and maybe creating a new plugin as extension, for example, the one replacing the backtrace module.

Once this is ready, we can do the same with the CLI. You can still PR the CLI plugin that you have done by the way, inside a folder of the cli/metacallcli/plugins or similar.

Meanwhile you should check the segmentation fault in metacall-ext-test and the er

[2022-07-06 12:32] viferga commented on #288
@rxbryan Check the output from valgrind:
[code]
In order to reproduce it, run:
[code]

You can take the environment variables from ctest -VV -R metacall-ext-test

This is an error with the context, basically this usually happens if it is removing an element that does not exists or something like that, the scope is being populated wrongly. Probably the bug from metacall-ext-test and metacall-plugin

[2022-07-06 12:36] viferga commented on #288
Here's the full leak check:
[code]

For getting this, just use --leak-check=full after the --tool=memcheck

[2022-07-11 22:53] AkechiShiro opened #297 "MacOSX Homebrew with node@14 build fails with no apparent errors"
## 🐛 Bug Report

NodeJS Homebrew build of libnode on MacOSX fails with no apparent errors at the end of the build.

[code]

### Expected Behavior

Should build successfully

### Current Behavior

Fails.

### Possible Solution

Looks into logs files to find why build fails.

### Steps to Reproduce

1. `brew install metacall --build-from-source -dv`
2. See error at the end of build.

### Context (En

[2022-07-19 00:26] AkechiShiro commented on #297
The build is fixed but NodeJS is still not working, logs given here
[03.cmake.cc.txt](https://github.com/metacall/core/files/9136443/03.cmake.cc.txt)
[03.cmake.txt](https://github.com/metacall/core/files/9136444/03.cmake.txt)
[CMakeCache.txt](https://github.com/metacall/core/files/9136445/CMakeCache.txt)

[02.cmake.cc.txt](https://github.com/metacall/core/files/9136440/02.cmake.cc.txt)

Testing Me

[2022-07-19 16:18] viferga commented on #297
The funniest part is this:
[code]
It's randomly including OpenGL headers path XD

[2022-07-19 17:49] viferga opened #300 "Implement a build matrix for PR and tags (testing)"
## 🚀 Feature

QEMU: https://github.com/marketplace/actions/run-on-architecture

[2022-07-21 00:13] viferga opened #301 "Segmentation fault + memory leaks in rust loader"
## 🐛 Bug Report
When running with valgrind (because sanitizer is not giving me stack traces):

`LOADER_LIBRARY_PATH=/metacall-core/build LOADER_SCRIPT_PATH=/metacall-core/build/scripts CONFIGURATION_PATH=/metacall-core/build/configurations/global.json SERIAL_LIBRARY_PATH=/metacall-core/build DETOUR_LIBRARY_PATH=/metacall-core/build PORT_LIBRARY_PATH=/metacall-core/build RUST_BACKTRACE=1 RUST_LOG=I

[2022-07-21 06:20] MediosZ commented on #301
Here's the stack trace.
[code]

This may be  caused by this line.
https://github.com/metacall/core/blob/434836813427bdfc8adb4c376662aaa9997eaf1c/source/loaders/rs_loader/rust/compiler/src/api/function.rs#L66

The whole log:
[rust_test.log](https://github.com/metacall/core/files/9156667/rust_test.log)

[2022-07-21 07:16] MediosZ commented on #301
After comment out those two lines, the seg fault goes away but there are still leaks.
the log:
[rust_test.log](https://github.com/metacall/core/files/9157037/rust_test.log)

[2022-07-21 14:44] viferga opened #302 "Review design of CLI plugins"
Respect to the PR: https://github.com/metacall/core/pull/298
We should take some considerations:

1) Should we use a different name for core_plugin? Like cli_plugin or cli_core_plugin?
2) We should load only the cli/core_plugin when we run metacallcli
3) Should we extend the execution path mechanism into plugin_extension? so instead of using an environment variable for locating the plugins, we can

[2022-08-01 23:29] rxbryan commented on #302
I have chosen to just add support for sub folders in plugin_extension https://github.com/metacall/core/pull/306

[2022-08-03 23:38] #297 closed

[2022-08-03 23:40] viferga opened #307 "Rust loader, loading from memory bug when running `./docker-compose.sh test`"
## 🐛 Bug Report

[code]

@MediosZ

[2022-08-04 07:21] MediosZ commented on #307
I am into this.

[2022-08-08 17:42] #285 closed

[2022-08-10 22:20] AkechiShiro opened #313 "Metacallcli fails to load on MacOS Error: DynLink error: dlopen(/usr/local/Cellar/metacall/0.5.25/libplugin_extension.so, 9): image not found"
## 🐛 Bug Report

The error when launching the latest built from source metacallcli.
[code]

### Expected Behavior

Should just work

### Current Behavior

During build :
- `Installing: /usr/local/Cellar/metacall/0.5.25/lib/libplugin_extension.so`

- ls output inside the installation folder of metacall:
![image](https://user-images.githubusercontent.com/14914796/184030163-7a9c7d2c-fbc4-4b3e-b09b-7c

[2022-08-10 22:44] viferga commented on #313
https://github.com/metacall/core/commit/aff4c635a0590ae31fdf08af48714a8c7d55242f

[2022-08-10 22:44] #313 closed

[2022-08-11 10:57] #307 closed

[2022-08-12 14:43] #302 closed

[2022-08-15 23:29] #301 closed

[2022-08-30 18:07] lucasace opened #326 "Metacall pip fails on windows"
## 🐛 Bug Report

when you run `metacall pip install <package_name>`  on windows , the installation fails with the following error

[code]

### Expected Behavior
should install it normally as it happens in linux

### Possible Solution
I traced the error to the file_loader.dll library which seems to be missing in the windows installation
The windows metacall lib folder
[code]
 as opposed to the linu

[2022-08-31 16:25] paramsiddharth opened #328 "Memory Leak in Windows for `metacall_python_exception_test`"
# 🐛 Bug Report
## Memory Leak in Windows for `metacall_python_exception_test`

### Logs

<details>
<summary>
Spoiler (Click to View)
</summary>

[code]

</details>

### Expected Behaviour

The memory leak shouldn't happen.

### Current Behaviour

The test fails and there's a memory leak (@viferga).

### Possible Solution

Investigate why the leak happens and modify the test(s) and/or source code t

[2022-08-31 21:27] viferga opened #331 "py_port test fails due to rs_loader linker bug"
## 🐛 Bug Report

You can reproduce it by running `./docker-compose.sh test`. It does not happen outside docker, neither with sanitizers enabled, but it happens with  `./docker-compose.sh test-sanitizer` too.

[code]

[2022-09-01 03:00] MediosZ commented on #331
I am on it.

[2022-09-01 03:02] MediosZ opened #332 "Dotnet not found in docker build."
## 🐛 Bug Report

When running docker test, `dotnet` is not found and cause cs_loader errors.

[2022-09-01 06:36] viferga commented on #332
@MediosZ next time upload full logs when possible.

[2022-09-01 07:18] viferga commented on #332
It's working on my docker, please try to prune and rerun.

docker system prune --all

[2022-09-01 07:18] #332 closed

[2022-09-01 15:40] paramsiddharth opened #333 "Tests fail for NodeJS on Windows"
# 🐛 Bug Report
## Tests fail for NodeJS on Windows

Tests fail in the Windows CI for core due to being unable to locate `libnode.dll` correctly.
@viferga suggests this needs to be fixed via changes to the CMake configuration and has previously encountered and solved similar bugs.

![image](https://user-images.githubusercontent.com/30315706/187954850-714b33a4-a6fc-422f-b005-0017b62cb112.png)
[Logs]

[2022-09-02 18:58] viferga commented on #333
We have to add a step in cmake for copying libnode.dll into the build folder and also install it later on contiguously to node_loader.dll. This is solved in windows distributable by manually copying it. And I used to do this manually too when developing in visual studio c++, but it should be done in an automated way so it's not a focus of errors for new developers.

[2022-09-06 10:44] viferga commented on #333
I was checking the code and this is already handled when it is built from source, but as we are overriding everything in FindNodeJS.cmake, the best bet is what you proposed originally, copying the dll manually into the build folder:
https://github.com/metacall/distributable-windows/blob/acbb07452743add940cbc9026a4b3b1d2ae963bc/build.bat#L189

The build folder usually is:
./build/Debug
or
./build/R

[2022-09-06 10:44] #333 closed

[2022-09-06 10:46] viferga commented on #326
@lucasace have you tried with pip3? Maybe it just needs an alias.

[2022-09-06 10:52] lucasace commented on #326
Yes I have. Doesnt work. Gives the same error

[2022-09-06 14:51] #331 closed

[2022-09-11 21:02] #122 closed

[2022-09-13 14:52] viferga opened #340 "Segmentation fault in TypeScript loader tests related to logs"
## 🐛 Bug Report

This bug gets shown with logs but probably it's a race condition related to threading, specially in destruction of TypeScript loader. This has to be reviewed carefully because the behavior is not deterministic. I have achieved to remove all the logs, making a no-op the log_write macro, and then the error happened in a different place, but I do not have those logs right now.

I am

[2022-09-13 22:13] viferga commented on #340
Here's more:
[output-node-segfault.txt](https://github.com/metacall/core/files/9561142/output-node-segfault.txt)

[2022-09-14 22:23] #326 closed

[2022-09-15 11:28] lucasace opened #342 "Handling kill signals while running python with metacall"
## 🐛 Bug Report

On pressing `Ctrl-C` the kill signal doesnt behave the way it should when previously a python program has failed or doesnt exist.

![image](https://user-images.githubusercontent.com/54945757/190391496-3a4f4bdd-0a0c-417a-9712-5e4b1c007b4d.png)

### Expected Behavior
Should exit on pressing `Ctrl-C`

### Current Behavior
A Python keyboard interrupt is thrown instead

### Steps to Re

[2022-10-03 19:00] viferga opened #348 "MSVC GitHub Action failing to install NodeJS"
## 🐛 Bug Report

[code]

https://github.com/metacall/core/actions/runs/3176691428/jobs/5176286153

[2022-10-03 19:01] viferga commented on #348
@paramsiddharth

[2022-10-03 19:42] paramsiddharth commented on #348
@viferga I don't think that's a failure... It's the output of `rd -Recurse -Force dirname` in PowerShell, equivalent to `rm -rf dirname` in *NIX. It still shows this warning message if the directory doesn't exist, but it is actually successful, because we don't want the directory to be there, which is exactly why we are attempting to delete it. `rm -rf` doesn't show the warning. That's the only di

[2022-10-03 19:43] paramsiddharth commented on #348
@viferga What do you mean when you say it "continues" even after failing?

[2022-10-03 19:57] viferga commented on #348
It starts the next step without failing immediately, or I am getting it wrong?

[2022-10-03 19:57] viferga commented on #348
Ok, fine then, it may be cool to make it silent if possible to avoid confusion.

[2022-10-03 20:06] paramsiddharth commented on #348
@viferga It is actually this:

![image](https://user-images.githubusercontent.com/30315706/193668977-d426071e-616a-43df-9793-479277e71eae.png)

Those are some "post" job steps automatically added by the CI.

[2022-10-03 20:06] paramsiddharth commented on #348
@viferga OK, Vicente! I'll go ahead and do it.

[2022-10-03 20:12] viferga commented on #348
Great, closing. PR the silent error of that command whenever you can.

[2022-10-03 20:12] #348 closed

[2022-10-05 17:19] viferga opened #351 "Non-deterministic address sanitizer error in `metacall-cli-core-plugin-await-test`"
## 🐛 Bug Report

I hope this is nothing related to set implementation but it can happen. We must intensively test the set implementation to see if it has leaks in some edge case. Also, take into account this:

[code]

https://github.com/metacall/core/actions/runs/3191095207/jobs/5206997103

[code]

[2022-10-25 20:04] viferga commented on #342
Duplicated here: https://github.com/metacall/core/issues/121

[2022-10-25 20:05] viferga commented on #328
Solved.

[2022-10-25 20:05] #328 closed

[2022-10-31 10:28] tangjiang opened #353 "can not fetch correct array data returned by calling python function in golang"
## 🐛 Bug Report

can not fetch correct array data returned by calling python function in golang

### Expected Behavior

fetch correct array data returned by calling python function in golang

### Detailed Description

python function:
[code]
I have added some codes to [go_port.go](https://github.com/metacall/core/blob/develop/source/ports/go_port/source/go_port.go) file in the  valueToGo  function

[2022-11-03 11:22] rxbryan commented on #351
here's the output from valgrind
[code]

[2022-11-03 11:26] rxbryan commented on #351
and the output from metacall-cli-core-await-test
[code]

[2022-11-30 21:03] viferga commented on #353
@tangjiang sorry for late answer, here's the code:
https://github.com/metacall/core/commit/f0515af5b8de398845a3c5999fa8ea5542ab7d47

Test it if it's all correct I will close the issue, you have a test to check how to use it.